.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.drift {
  display: flex;
}
.dung {
  position: absolute;
  top: 300px;
  z-index: 4;
}
.go {
  position: absolute;
  -webkit-transition: all 3s;
     -moz-transition: all 3s;
      -ms-transition: all 3s;
       -o-transition: all 3s;
          transition: all 3s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.meterBlur{
  position: relative;

  -webkit-transition: all .01s;
     -moz-transition: all .01s;
      -ms-transition: all .01s;
       -o-transition: all .01s;
          transition: all .01s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.meterContainer {
  left: 50%;
  position: absolute;
}
.back {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -20;
  background-color: black;
  opacity: .9;
}
.blurScape {
  width: 100%;
  height: 10%;
  background-color: purple;
  position: absolute;
  display: inline-block;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;

}

.square {
  position: absolute;
  top: 20px;
  height: 1200px;
  z-index: -1;
  width: 500px;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          /*-webkit-box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);
-moz-box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);
box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);*/
}
.square h1 {
  color: white;
}
.slowImage {
  -webkit-transition: all 7s;
     -moz-transition: all 7s;
      -ms-transition: all 7s;
       -o-transition: all 7s;
          transition: all 7s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          opacity: .9;
          width: 30%;
          top: 30px;
          left: 20px;
          position: absolute;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
