.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.drift {
  display: flex;
}
.dung {
  position: absolute;
  top: 300px;
  z-index: 4;
}
.go {
  position: absolute;
  -webkit-transition: all 3s;
     -moz-transition: all 3s;
      -ms-transition: all 3s;
       -o-transition: all 3s;
          transition: all 3s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.meterBlur{
  position: relative;

  -webkit-transition: all .03s;
     -moz-transition: all .03s;
      -ms-transition: all .03s;
       -o-transition: all .03s;
          transition: all .03s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.meterContainer {
  left: 50%;
  position: absolute;
}

.back {
  -webkit-transition: all 1.7s;
     -moz-transition: all 1.7s;
      -ms-transition: all 1.7s;
       -o-transition: all 1.7s;
          transition: all 1.7s;
          -webkit-transition-timing-function: linear;
             -moz-transition-timing-function: linear;
               -o-transition-timing-function: linear;
                  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -20;
  background-color: black;
  opacity: .9;
}

.back2 {
  -webkit-transition: all .9s;
     -moz-transition: all .9s;
      -ms-transition: all .9s;
       -o-transition: all .9s;
          transition: all .9s;
          -webkit-transition-timing-function: linear;
             -moz-transition-timing-function: linear;
               -o-transition-timing-function: linear;
                  transition-timing-function: linear;
  width: 100%;
  top:100%;
  height: 100%;
  position: absolute;
  z-index: -20;
  background-color: blue;
  opacity: .9;
}

.blurScape {
  width: 100%;
  height: 10%;
  background-color: purple;
  position: absolute;
  display: inline-block;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;

}
.slow2 {
  width: 600px;
  background-color: white;
  position: absolute;
  height: 600px;

  top:50%;
  margin-top: -250px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.slowWords {
  top:50%;
  z-index: 200;
  position: fixed;
  font-size: 4em;
  margin-top: -2em;
  font-kerning: auto;
  opacity: .4
}
.square {
  position: absolute;
  top: 20px;
  height: 1200px;
  z-index: -1;
  width: 500px;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
      -ms-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          /*-webkit-box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);
-moz-box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);
box-shadow: 10px 6px 77px 52px rgba(207,62,207,1);*/
}
.square h1 {
  color: white;
}
.slowImage {
  -webkit-transition: all 7s;
     -moz-transition: all 7s;
      -ms-transition: all 7s;
       -o-transition: all 7s;
          transition: all 7s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          opacity: .9;
          width: 90%;
          top: 30px;
          left: 0%;
          position: absolute;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
