
.drift {
  display: flex;
}

.pageOff {
  display: none;
}
.menu {
  position:absolute;
  top: 1vh;
  left:1vw;
  z-index: 22;
}
.menu h1 {
  text-shadow: 2px 2px #ff0000;
}
.menu h1:hover {
  cursor: cell;
}

.slowOff {
  filter: opacity(0);
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.slowOn {
  filter: opacity(1);
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.pageOn {
  display: inline;
  filter: opacity(1);
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}


/*M1 STUFF*/
.m1MeterBlur{
  position: relative;

  -webkit-transition: all .03s;
     -moz-transition: all .03s;
      -ms-transition: all .03s;
       -o-transition: all .03s;
          transition: all .03s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.m1meterContainer {
  left: 50%;
  position: absolute;
  display: inherit;
}

.m1back {
  -webkit-transition: all 1.7s;
     -moz-transition: all 1.7s;
      -ms-transition: all 1.7s;
       -o-transition: all 1.7s;
          transition: all 1.7s;
          -webkit-transition-timing-function: linear;
             -moz-transition-timing-function: linear;
               -o-transition-timing-function: linear;
                  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -20;
  background-color: black;
  opacity: .9;
  display: inherit;
}


/*M2 STUFF*/
.m2slow2 {
  width: 600px;
  background-color: white;
  position: absolute;
  height: 600px;
  opacity: .9;
  display: inherit;
  z-index: 1;
  top:50%;
  margin-top: -250px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.m2slowColorBack {
  width: 100%;
  display: inherit;
  background-color: blue;
  z-index: -1;
  height: 600px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -250px;
  margin-left: -850px;
  filter: blur(4px);
}
.m2wrapper{
  width : 100vw;
  height : 100vh;
  background-color : black;
  position : absolute;
  z-index: -3
}

/*M3 STUFF*/
.m3wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.m3words {
  display: inherit;
  position: absolute;
  z-index: 4;
}
.m3words h1 {
  display: inherit;
}

/*M4Stuff*/
.m4words{
  background-color: blue;
}
.m4wrapper{
  background-color: blue;
}
